<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
    <p>Powered by <a href="https://www.youtube.com/watch?v=qm88-bWUP2g" target="_blank">Garlopa Company S.A</a></p>
</footer>
</body>
</html>
