<!-- Navbar -->

<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <div class="w3-dropdown-hover">
            <button class="w3-button w3-teal">General</button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a href="#" class="w3-bar-item w3-button">Usuarios</a>
                <a href="#" class="w3-bar-item w3-button">Clientes</a>
                <a href="#" class="w3-bar-item w3-button">Camiones</a>
                <a href="#" class="w3-bar-item w3-button">Remolques</a>
                <a href="#" class="w3-bar-item w3-button">Mantenimiento</a>
                <a href="#" class="w3-bar-item w3-button">Viajes</a>
            </div>
        </div>
        <div class="w3-dropdown-hover">
            <button class="w3-button w3-teal">Reportes</button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a href="#" class="w3-bar-item w3-button">Facturas</a>
                <a href="#" class="w3-bar-item w3-button">Viajes</a>
                <a href="#" class="w3-bar-item w3-button">Proforma</a>
            </div>
        </div>

        <a href="#myPage" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Inicio</a>
        <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Nosotros</a>
        <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Flotas</a>
        <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contacto</a>
        <i class="fa fa-camera-retro fa-lg"></i> fa-lg
        <a href="/tpFinalGrupo13/logout" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal">Cerrar Sesion <i class="fa fa-sign-out" aria-hidden="true"></i></a>


    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
        <a href="#team" class="w3-bar-item w3-button">Team</a>
        <a href="#work" class="w3-bar-item w3-button">Work</a>
        <a href="#pricing" class="w3-bar-item w3-button">Price</a>
        <a href="#contact" class="w3-bar-item w3-button">Contact</a>
        <a href="#" class="w3-bar-item w3-button">Search</a>
    </div>
</div>