
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/formStyle.css">
<script type="text/javascript" src="/tpFinalGrupo13/public/js/subTotales.js"></script>

<div class="w3-card-4"  style="width:40%;margin: auto">
    <header class="w3-container w3-teal">
        <h3 class="w3-center">Nuevo Viaje</h3>
    </header>
    <form action="registrarViaje" method="post">
        <input type="hidden" name="id">
            <label>Usuario</label><br>
            <select name="usuario" id="" required>
        {{#chofer}}
                <option value="{{Id}}">{{Nombre}} {{Apellido}}</option>
        {{/chofer}}
            </select>

        <label>Sucursal Origen</label><br>
        <select name="sucuOrig" id="" required>
        {{#sucursal}}
            <option value="{{IdSuc}}">{{DireccionSuc}}, {{Provincia}}</option>
        {{/sucursal}}
        </select>

        <label>Sucursal Destino</label><br>
        <select name="sucuDest" id="" required>
        {{#sucursal}}
            <option value="{{IdSuc}}">{{DireccionSuc}}, {{Provincia}}</option>
        {{/sucursal}}
        </select>

        <label>Cliente</label><br>
        <select name="cliente" id="" required>
        {{#cliente}}
            <option value="{{Id}}">{{Apellido}}, {{Nombre}}</option>
        {{/cliente}}
        </select>

        <label>Vehiculo</label><br>
        <select name="vehiculo" id="" required>
        {{#vehiculo}}
            <option value="{{Id}}">{{Patente}}</option>
        {{/vehiculo}}
        </select>

        <label>Arrastre</label><br>
        <select name="arrastre" id="" required>
        {{#arrastre}}
            <option value="{{Id}}">{{Patente}}</option>
        {{/arrastre}}
        </select>

        <label for="ldateorigen">Fecha Salida Origen</label><br>
        <input class="dateInput" type="date" id="ldateorigen" name="fechaOrig" required><br>

        <label for="ldateestimada">Fecha Llegada Estimada</label><br>
        <input class="dateInput" type="date" id="ldateestimada" name="fechaEst" required><br>

        <label for="fkm">Kilometraje Estimado</label><br>
        <input class="numberInput" type="number" id="fkm" name="kmEst" placeholder="Km.." onchange="calulcarKilometroPorCombustible(this.value)" required><br>

        <label for="combEstimado">Litros de Combustible Estimado</label><br>
        <input class="numberInput" type="number" id="combEstimado" name="combEst" placeholder="Combustible.." required readonly><br>

        <label for="precioCombustibleEstimado">Precio de Combustible Estimado</label><br>
        <input class="numberInput" type="number" id="precioCombustibleEstimado" name="precioCombustibleEstimado" placeholder="Precio combustible estimado.."s required readonly><br>

        <label for="fotros">Gastos Estimados</label><br>
        <input class="numberInput" type="number" id="fotros" name="otrosG" placeholder="Gastos.." onchange="gastosEstimados(this.value)" required><br>

        <label for="fprecio">Precio Final Estimado</label><br>
        <input class="numberInput" type="number" id="fprecio" name="precio" placeholder="Precio.." required readonly><br>

        <br>
        <input type="submit" value="Guardar">
        <a type="button" class="button button4 w3-center" style="text-decoration: none" href="/tpFinalGrupo13/viaje">Volver</a>
    </form>
</div>
</body>
</html>

