
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/formStyle.css">

    <div class="w3-card-4"  style="width:40%;margin: auto">
        <header class="w3-container w3-teal">
            <h3 class="w3-center">Nuevo Arrastre</h3>
        </header>
            <form action="/action_page.php">
                <label> Descripcion</label><br>
                <select name="carga" id="">
                    <option value="araña">Araña</option>
                    <option value="jaula">Jaula</option>
                    <option value="tanque">Tanque</option>
                    <option value="granel">Granel</option>
                </select>
                <label for="fname">Patente</label>
                <input type="text" id="fname" name="firstname" placeholder="Tu patente..">
                <label for="lname">Nro chasis</label>
                <input type="text" id="lname" name="lastname" placeholder="Nro chasis.." autocomplete="off">
                <br> <br><input type="checkbox" id="active" name="active" value="active" checked>
                <label for="active">Activo</label><br>
                <br>
                <input type="submit" value="Guardar">
                <a type="button" class="button button4 w3-center" style="text-decoration: none" href="/tpFinalGrupo13/arrastre">Volver</a>
            </form>
        </div>
</body>
</html>