
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/formStyle2.css">


    <div class="w3-card-4"  style="width:40%;margin: auto">
        <header class="w3-container w3-teal">
            <h1 class="w3-center">Nuevo cliente</h1>
        </header>
            <form action="registrarCliente" method="post">
                <label for="fname">Nombre</label>
                <input type="text" id="fname" name="nombre" placeholder="Tu nombre.." required>

                <label for="lapellido">Apellido</label>
                <input type="text" id="lapellido" name="apellido" placeholder="Tu apellido.." required>

                <label for="ldni">DNI</label>
                <input class="numberInput" type="number" id="ldni" name="dni" placeholder="Tu DNI.." required>
                <br>
                <label for="ldomicilio">Domicilio</label>
                <input type="text" id="ldomicilio" name="domicilio" placeholder="Tu Domicilio.." required>

                <button class="w3-button w3-green w3-margin-top" style="width: 100%">Agregar Cliente</button>
                <a type="button" class="button button4 w3-center" style="text-decoration: none" href="/tpFinalGrupo13/cliente">Volver</a>
            </form>
    </div>


</body>
</html>