
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/formStyle.css">

<div class="w3-card-4"  style="width:40%;margin: auto">
    <header class="w3-container w3-teal">
        <h3 class="w3-center">Nuevo Viaje</h3>
    </header>
    <form action="registrarViaje" method="post">
        <input type="hidden" name="id">
            <label>Usuario</label><br>
            <select name="usuario" id="">
        {{#chofer}}
                <option value="{{Id}}">{{Nombre}} {{Apellido}}</option>
        {{/chofer}}
            </select>

        <label>Sucursal Origen</label><br>
        <select name="sucuOrig" id="">
        {{#sucursal}}
            <option value="{{IdSuc}}">{{DireccionSuc}}, {{Provincia}}</option>
        {{/sucursal}}
        </select>

        <label>Sucursal Destino</label><br>
        <select name="sucuDest" id="">
        {{#sucursal}}
            <option value="{{IdSuc}}">{{DireccionSuc}}, {{Provincia}}</option>
        {{/sucursal}}
        </select>

        <label>Cliente</label><br>
        <select name="cliente" id="">
        {{#cliente}}
            <option value="{{Id}}">{{Apellido}}, {{Nombre}}</option>
        {{/cliente}}
        </select>

        <label>Vehiculo</label><br>
        <select name="vehiculo" id="">
        {{#vehiculo}}
            <option value="{{Id}}">{{Patente}}</option>
        {{/vehiculo}}
        </select>

        <label>Arrastre</label><br>
        <select name="arrastre" id="">
        {{#arrastre}}
            <option value="{{Id}}">{{Patente}}</option>
        {{/arrastre}}
        </select>

        <label for="ldateorigen">Fecha Origen</label><br>
        <input class="dateInput" type="date" id="ldateorigen" name="fechaOrig"><br>

        <label for="ldateestimada">Fecha Estimada</label><br>
        <input class="dateInput" type="date" id="ldateestimada" name="fechaEst"><br>

        <label for="fkm">Kilometraje Estimado</label><br>
        <input class="numberInput" type="number" id="fkm" name="kmEst" placeholder="Km.."><br>

        <label for="fkm">Combustible Estimado</label><br>
        <input class="numberInput" type="number" id="fkm" name="combEst" placeholder="Combustible.."><br>

        <label for="fotros">Otros Gastos</label><br>
        <input class="numberInput" type="number" id="fotros" name="otrosG" placeholder="Gastos.."><br>

        <label for="fprecio">Precio</label><br>
        <input class="numberInput" type="number" id="fprecio" name="precio" placeholder="Precio.."><br>

        <br>
        <input type="submit" value="Guardar">
        <a type="button" class="button button4 w3-center" style="text-decoration: none" href="/tpFinalGrupo13/viaje">Volver</a>
    </form>

</div>


</body>
</html>