{{> header}}
{{> navbar}}
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-container">

    <!-- Header -->
    <div id="portfolio">

        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container w3-center">
            <img src="/tpFinalGrupo13/public/images/logoLema.jpeg" style="width:20%;" class="w3-center w3-round">
            <!-- The form -->
            <div class="w3-section w3-bottombar w3-padding-16">
                <input class="w3-padding w3-light-grey w3-border-blue" style="width: 30%" type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Cliente.." name="busqueda">
            </div>
            <form action="cliente/altaCliente">
                <button name="sacar" class="w3-button w3-green">Agregar Cliente</button>
            </form>
            <br>
        </div>
    </div>
    <div style="overflow: auto;">
        <table class="w3-table">
            <tr class="w3-black">
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Domicilio</th>
                <th>Acciones</th>
            </tr>

            {{#clientes}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{Nombre}}</td>
                    <td>{{Apellido}}</td>
                    <td>{{Dni}}</td>
                    <td>{{Domicilio}}</td>
                    <td>
                        <div>
                            <form action="cliente/modificarCliente" method="post">
                                <button class='w3-button w3-blue' style="width: 100%;" name="modificar" value="{{Id}}">Modificar</button>
                            </form>
                            <br>
                            <button name="sacar" class="w3-button w3-red" style="width: 100%;">
                                <a href="recursos/funciones/process.php?eliminar={{Id}}" style="text-decoration: none" onclick="return  confirm('Desea eliminar Cliente?')"> Eliminar </a>
                            </button>
                        </div>
                    </td>
                </tr>
            {{/clientes}}
        </table>
    </div>
    <br>
    <!-- End page content -->
</div>
{{> footer}}