{{> header}}
{{> navbar}}
<!-- !PAGE CONTENT! -->
<script type="text/javascript" src="/tpFinalGrupo13/public/js/buscar.js"></script>
<div class="w3-main w3-container">

    <!-- Header -->
    <div id="portfolio">

        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container w3-center">
            <img src="/tpFinalGrupo13/public/images/logoLema.jpeg" style="width:20%;" class="w3-center w3-round">
            <!-- The form -->
            <div class="w3-section w3-bottombar w3-padding-16">
                <input class="w3-padding w3-light-grey w3-border-blue" style="width: 30%" type="text" id="inputBuscarMantenimiento" onkeyup="buscar('inputBuscarMantenimiento','tablaMantenimiento')" placeholder="Buscar Mantenimiento por Nro" name="busqueda">
            </div>
            {{#_SESSION.esAdministrador}}
            <a href="/tpfinalgrupo13/Mantenimiento/altaMantenimiento" style="width: auto; margin-bottom: 20px" type="submit" class="w3-green w3-button">Nuevo Mantenimiento</a>
            {{/_SESSION.esAdministrador}}
            {{#_SESSION.esSupervisor}}
                <a href="/tpfinalgrupo13/Mantenimiento/altaMantenimiento" style="width: auto; margin-bottom: 20px" type="submit" class="w3-green w3-button">Nuevo Mantenimiento</a>
            {{/_SESSION.esSupervisor}}
            {{#_SESSION.esEncargadoTaller}}
                <a href="/tpfinalgrupo13/Mantenimiento/altaMantenimiento" style="width: auto; margin-bottom: 20px" type="submit" class="w3-green w3-button">Nuevo Mantenimiento</a>
            {{/_SESSION.esEncargadoTaller}}
            <br>
        </div>
    </div>
    <div style="overflow: auto;">
        <table id="tablaMantenimiento" class="w3-table">
            <tr class="w3-black">
                <th>Nro. Service</th>
                <th>Vehiculo</th>
                <th>Kilometraje</th>
                <th>Tipo</th>
                <th>Descripcion</th>
                <th>Fecha desde</th>
                <th>Fecha hasta</th>
                <th>Importe</th>
                <th>Finalizado</th>
                <th>Acciones</th>
            </tr>

            {{#mantenim}}
                <tr class="w3-border-bottom w3-light-grey">
                    <td>{{Id_mantenimiento}}</td>
                    <td>{{Patente}}</td>
                    <td>{{Km}}</td>
                    <td>{{Tipo}}</td>
                    <td>{{Descripcion}}</td>
                    <td>{{FechaDesde}}</td>
                    <td>{{FechaHasta}}</td>
                    <td>$ {{Importe}}</td>
                    <td>{{MantenimientoFinalizado}}</td>
                    <td>
                        {{#_SESSION.esAdministrador}}
                        <form style="margin-bottom: 10px " action="mantenimiento/modificarMantenimiento" method="post">
                            <button class='w3-button w3-blue' style="width: 100%;" name="IdMantenimiento" {{#MantenimientoFinalizado}}disabled{{/MantenimientoFinalizado}} value="{{Id_mantenimiento}}">Modificar</button>
                        </form>
                        <form action="mantenimiento/finalizarMantenimiento" method="post">
                            <input type="hidden" name="IdVehiculo" value="{{IdVehiculo}}">
                            <button class='w3-button w3-red' style="width: 100%;" name="IdMantenimiento" {{#MantenimientoFinalizado}}disabled{{/MantenimientoFinalizado}} value="{{Id_mantenimiento}}">Finalizar</button>
                        </form>
                        {{/_SESSION.esAdministrador}}
                        {{#_SESSION.esSupervisor}}
                            <form style="margin-bottom: 10px " action="mantenimiento/modificarMantenimiento" method="post">
                                <button class='w3-button w3-blue' style="width: 100%;" name="IdMantenimiento" {{#MantenimientoFinalizado}}disabled{{/MantenimientoFinalizado}} value="{{Id_mantenimiento}}">Modificar</button>
                            </form>
                            <form action="mantenimiento/finalizarMantenimiento" method="post">
                                <button class='w3-button w3-red' style="width: 100%;" name="IdMantenimiento" {{#MantenimientoFinalizado}}disabled{{/MantenimientoFinalizado}} value="{{Id_mantenimiento}}">Finalizar</button>
                            </form>
                        {{/_SESSION.esSupervisor}}
                        {{#_SESSION.esEncargadoTaller}}
                            <form style="margin-bottom: 10px " action="mantenimiento/modificarMantenimiento" method="post">
                                <button class='w3-button w3-blue' style="width: 100%;" name="IdMantenimiento" {{#MantenimientoFinalizado}}disabled{{/MantenimientoFinalizado}} value="{{Id_mantenimiento}}">Modificar</button>
                            </form>
                            <form action="mantenimiento/finalizarMantenimiento" method="post">
                                <button class='w3-button w3-red' style="width: 100%;" name="IdMantenimiento" {{#MantenimientoFinalizado}}disabled{{/MantenimientoFinalizado}} value="{{Id_mantenimiento}}">Finalizar</button>
                            </form>
                        {{/_SESSION.esEncargadoTaller}}
                        {{#_SESSION.esMecanico}}
                            <form style="margin-bottom: 10px " action="mantenimiento/modificarMantenimiento" method="post">
                                <button class='w3-button w3-blue' style="width: 100%;" name="IdMantenimiento" {{#MantenimientoFinalizado}}disabled{{/MantenimientoFinalizado}} value="{{Id_mantenimiento}}">Modificar</button>
                            </form>
                            <form action="mantenimiento/finalizarMantenimiento" method="post">
                                <button class='w3-button w3-red' style="width: 100%;" name="IdMantenimiento" {{#MantenimientoFinalizado}}disabled{{/MantenimientoFinalizado}} value="{{Id_mantenimiento}}">Finalizar</button>
                            </form>
                        {{/_SESSION.esMecanico}}
                    </td>
                </tr>
            {{/mantenim}}
        </table>
    </div>
    <br>
    <!-- End page content -->
</div>
{{> footer}}