 class="dateInput" <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/formStyle.css">
<div class="w3-card-4"  style="width:40%;margin: auto">
    <header class="w3-container w3-teal">
        <h3 class="w3-center">Modificar Viaje</h3>
    </header>
{{#viajes}}
        <form action="procesoModificarViaje" method="post">
            <input type="hidden" name="viajeId" value="{{viajeId}}">

            <label>Usuario</label><br>
            <select name="usuario" id="">
                <option value="{{usuarioId}}">{{usuario}}</option>
            </select>

            <label>Sucursal Origen</label><br>
            <select name="sucuOrig" id="">
                <option value="{{sucOrigenId}}">{{SucursalOrigen}}</option>
                <option value="1">Urquiza 2856, Buenos Aires, Caseros</option>
                <option value="2">Brandsen, Mendoza, San Rafael</option>
            </select>

            <label>Sucursal Destino</label><br>
            <select name="sucuDest" id="">
                <option value="{{sucDestinoId}}">{{SucursalDestino}}</option>
                <option value="1">Urquiza 2856, Buenos Aires, Caseros</option>
                <option value="2">Brandsen, Mendoza, San Rafael</option>
            </select>

            <label>Cliente</label><br>
            <select name="cliente" id="">
                <option value="{{clienteId}}">{{cliente}}</option>
                <option value="1">Gordo Gordomedov</option>
                <option value="2">Marcelo Hugo Tinelli</option>
                <option value="3">Lionel Andres Messi</option>
                <option value="4">Jean Claudio Van-Damme</option>
            </select>

            <label>Vehiculo</label><br>
            <select name="vehiculo" id="">
                <option value="{{vehiculoId}}">{{patenteVehiculo}}</option>
                <option value="3">AA123CD</option>
                <option value="4">AA150QW</option>
                <option value="5">AD870QW</option>
                <option value="6">AC342WW</option>
            </select>

            <label>Arrastre</label><br>
            <select name="arrastre" id="">
                <option value="{{arrastreId}}">{{patenteArrastre}}</option>
                <option value="1">AA100AS</option>
                <option value="2">AC125AD</option>
                <option value="3">AC296AS</option>
                <option value="4">AB318AD</option>
                <option value="5">AB405AG</option>
                <option value="6">AA624AS</option>
            </select>

            <label for="fechaOrig">Fecha Origen</label><br>
            <input class="dateInput" type="date" id="fechaOrig" name="fechaOrig" value="{{fechaOrigen}}"><br>

            <label for="fechaEst">Fecha Estimada</label><br>
            <input class="dateInput" type="date" id="fechaEst" name="fechaEst" value="{{fechaEstimada}}"><br>

            <label for="kmEst">Kilometraje Estimado</label><br>
            <input class="numberInput" type="number" id="kmEst" name="kmEst" placeholder="Km.." value="{{KmEstimado}}"><br>

            <label for="combEst">Combustible Estimado</label><br>
            <input class="numberInput" type="number" id="combEst" name="combEst" placeholder="Combustible.." value="{{CombustibleEst}}"><br>

            <label for="precio">Precio</label><br>
            <input class="numberInput" type="number" id="precio" name="precio" placeholder="Precio.." value="{{Precio}}"><br>

            <label for="otrosG">Otros Gastos</label><br>
            <input class="numberInput" type="number" id="otrosG" name="otrosG" placeholder="Gastos.." value="{{OtrosGastos}}"><br>

            <input type="checkbox" id="activo" name="activo" {{#Finalizado}}checked="checked"{{/Finalizado}}>
            <label for="activo">Finalizado</label>

            <br>
            <input type="submit" value="Guardar">
            <a type="button" class="button button4 w3-center" style="text-decoration: none" href="/tpFinalGrupo13/viaje">Volver</a>
        </form>
    {{/viajes}}
</div>
</body>
</html>