{{> header}}
{{> navbar}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/formStyle.css">

<div class="w3-card-4"  style="width:40%;margin: auto; margin-top: 100px">
        <header class="w3-container w3-teal">
            <h3 class="w3-center">Modificar Mantenimiento</h3>
        </header>
{{#mantenim}}
            <form action="procesoModificarMantenimiento" method="post">
                <input type="hidden" name="IdMantenimiento"  value="{{Id_mantenimiento}}">
                <label> Tipo de servicio*</label><br>
                <select name="service" id="" required>
                    <option value="{{IdTipoServ}}" style="color: teal">{{Tipo}}</option>
                    <option value="1">Taller externo </option>
                    <option value="2">Taller interno</option>
                </select>

                <label for="importe" >Importe*</label><br>
                <input class="numberInput" type="number" id="importe" name="importe" placeholder="Importe.." value="{{Importe}}" required><br><br>

                <label for="descripcion">Descripcion del service*</label><br>
                <textarea class="textAreaInput" style="height: 120px" name="descripcion" id="descripcion" cols="25" rows="1" placeholder="Ingrese detalle del service" required>{{Descripcion}}</textarea><br><br>


                <label for="fdesde">Fecha desde*</label><br>
                <input class="dateInput" type="date" id="fdesde" name="fdesde" value="{{FechaDesde}}" required><br><br>

                <label for="fhasta">Fecha hasta*</label><br>
                <input class="dateInput" type="date" id="fhasta" name="fhasta" value="{{FechaHasta}}" required><br><br>

                <label> Vehiculo*</label><br>
                <select name="vehiculo" required>
                    <option value="{{Id_vehiculo}}" style="color: teal">{{Patente}}</option>
                    <option value="3">AA123CD</option>
                    <option value="4">AA150QW</option>
                    <option value="5">AD870QW</option>
                    <option value="6">AC342WW</option>
                </select>
                <br>
                <input type="submit" value="Guardar">
                <a type="button" class="button button4 w3-center" style="text-decoration: none" href="/tpFinalGrupo13/mantenimiento">Volver</a>
            </form>
{{/mantenim}}
        </div>



</body>
</html>