
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/formStyle.css">


<div class="w3-card-4"  style="width:40%;margin: auto">
        <header class="w3-container w3-teal">
            <h1 class="w3-center">Modificar cliente</h1>
        </header>
        {{#clientes}}
            <form action="/action_page.php">
                <label for="fname">Nombre</label>
                <input type="text" id="fname" name="firstname" placeholder="Tu nombre.." value="{{Nombre}}">

                <label for="lname">Apellido</label>
                <input type="text" id="lname" name="lastname" placeholder="Tu apellido.." value="{{Apellido}}">

                <label for="lname">Dni</label>
                <input type="email" id="lname" name="dni" placeholder="Tu Dni.." value="{{Dni}}">

                <br> <br><input type="checkbox" id="active" name="active" {{#Activo}}checked="checked"{{/Activo}}>
                <label for="active">Activo</label><br>
                <br>
                <input type="submit" value="Guardar">
                <a type="button" class="button button4 w3-center" style="text-decoration: none" href="/tpFinalGrupo13/cliente">Volver</a>
            </form>
            {{/clientes}}



    </div>
</body>
</html>