{{> header}}
{{> navbar}}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/formStyle.css">
 <script type="text/javascript" src="/tpFinalGrupo13/public/js/subTotales.js"></script>
<div class="w3-card-4"  style="width:40%;margin: auto; margin-top: 100px">
    <header class="w3-container w3-teal">
        <h3 class="w3-center">Modificar Viaje</h3>
    </header>
{{#viajes}}
        <form action="procesoModificarViaje" method="post">
            <input type="hidden" name="viajeId" value="{{viajeId}}">

            <label>Usuario</label><br>
            <select name="usuario" id="">
                <option value="{{usuarioId}}">{{usuario}}</option>
            </select>

            <label>Sucursal Origen</label><br>
            <input class="textAreaInput" name="sucuOrig" placeholder="Sucursal Origen.." value="{{SucursalOrigen}}" required><br>

            <label>Sucursal Destino</label><br>
            <input class="textAreaInput" name="sucuDest" placeholder="Sucursal Destino.." value="{{SucursalDestino}}" required><br>

            <label>Cliente</label><br>
            <select name="cliente" id="">
                <option value="{{clienteId}}">{{cliente}}</option>
                <option value="1">Gordo Gordomedov</option>
                <option value="2">Marcelo Hugo Tinelli</option>
                <option value="3">Lionel Andres Messi</option>
                <option value="4">Jean Claudio Van-Damme</option>
            </select>

            <label>Vehiculo</label><br>
            <select name="vehiculo" id="">
                <option value="{{vehiculoId}}">{{patenteVehiculo}}</option>
                <option value="3">AA123CD</option>
                <option value="4">AA150QW</option>
                <option value="5">AD870QW</option>
                <option value="6">AC342WW</option>
            </select>

            <label>Arrastre</label><br>
            <select name="arrastre" id="">
                <option value="{{arrastreId}}">{{patenteArrastre}}</option>
                <option value="1">AA100AS</option>
                <option value="2">AC125AD</option>
                <option value="3">AC296AS</option>
                <option value="4">AB318AD</option>
                <option value="5">AB405AG</option>
                <option value="6">AA624AS</option>
            </select>

            <label for="ldateorigen">Fecha Salida Origen</label><br>
            <input class="dateInput" type="date" id="ldateorigen" name="fechaOrig" value="{{fechaOrigen}}" required><br>

            <label for="ldateestimada">Fecha Llegada Estimada</label><br>
            <input class="dateInput" type="date" id="ldateestimada" name="fechaEst" value="{{fechaEstimada}}" required><br>

            <label for="fkm">Kilometraje Estimado</label><br>
            <input class="numberInput" type="number" id="fkm" name="kmEst" placeholder="Km.." value="{{KmEstimado}}" onchange="calulcarKilometroPorCombustible(this.value)" required><br>

            <label for="combEstimado">Litros de Combustible Estimado</label><br>
            <input class="numberInput" type="number" id="combEstimado" name="combEst" placeholder="Combustible.." value="{{CombustibleEst}}" required readonly><br>

            <label for="precioCombustibleEstimado">Precio de Combustible Estimado</label><br>
            <input class="numberInput" type="number" id="precioCombustibleEstimado" name="precioCombustibleEstimado" value="{{PrecioCombustibleEstimado}}" placeholder="Precio combustible estimado.."s required readonly><br>

            <label for="fotros">Gastos Estimados</label><br>
            <input class="numberInput" type="number" id="fotros" name="otrosG" placeholder="Gastos.." value="{{OtrosGastos}}" onchange="gastosEstimados(this.value)" required><br>

            <label for="fprecio">Precio Final Estimado</label><br>
            <input class="numberInput" type="number" id="fprecio" name="precio" placeholder="Precio.." value="{{Precio}}" required readonly><br>
            <input type="submit" value="Guardar">
            <a type="button" class="button button4 w3-center" style="text-decoration: none" href="/tpFinalGrupo13/viaje">Volver</a>
        </form>
    {{/viajes}}
</div>
</body>
</html>