{{> header}}
{{> navbar}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/formStyle.css">

<div class="w3-card-4"  style="width:40%;margin: auto; margin-top: 100px">
        <header class="w3-container w3-teal">
            <h1 class="w3-center">Modificar Arrastre</h1>
        </header>
    {{#arrastre}}
            <form action="procesoModificarArrastre" method="post">
                <input type="hidden" name="idArrastre"  value="{{Id}}" placeholder="{{Id}}">
                <label>Tipo de Arrastre</label><br>
                <select name="carga">
                    <option value="{{Descripcion}}" style="color: teal">{{Descripcion}}</option>
                    <option value="Araña">Araña</option>
                    <option value="Jaula">Jaula</option>
                    <option value="Tanque">Tanque</option>
                    <option value="Granel">Granel</option>
                </select>
                <label for="fpatente">Patente</label>
                <input type="text" id="fpatente" name="patente" placeholder="Tu patente.." value="{{Patente}}">
                <label for="lchasis">Nro chasis</label>
                <input type="text" id="lchasis" name="chasis" placeholder="Nro chasis.." value="{{NroChasis}}">
                <br>
                <input type="submit" value="Guardar">
                <a type="button" class="button button4 w3-center" style="text-decoration: none" href="/tpFinalGrupo13/arrastre">Volver</a>
            </form>
    {{/arrastre}}
        </div>
</body>
</html>