
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/formStyle.css">


<div class="w3-card-4"  style="width:40%;margin: auto">
        <header class="w3-container w3-teal">
            <h1 class="w3-center">Modificar cliente</h1>
        </header>
        {{#clientes}}
            <form action="procesoModificarCliente" method="get" autocomplete="off">
                <input type="hidden" name="id"  value="{{Id}}" placeholder="{{Id}}">
                <label for="fname">Nombre</label>
                <input type="text" id="fname" name="nombre" placeholder="Tu nombre.." value="{{Nombre}}" required>
                <label for="lname">Apellido</label>
                <input type="text" id="lname" name="apellido" placeholder="Tu apellido.." value="{{Apellido}}" required>

                <label for="lname">DNI</label>
                <input type="text" id="ldni" name="dni" placeholder="Tu Dni.." value="{{Dni}}" required>

                <label for="lname">Domicilio</label>
                <input type="text" id="ldomicilio" name="domicilio" placeholder="Tu Domicilio.." value="{{Domicilio}}" required>


                <br> <br><input type="checkbox" id="activo" name="activo" {{#Activo}}checked="checked"{{/Activo}}>
                <label for="activo">Activo</label><br>
                <br>
                <input type="submit" value="Guardar">
                <a type="button" class="button button4 w3-center" style="text-decoration: none" href="/tpFinalGrupo13/cliente">Volver</a>
            </form>
            {{/clientes}}



    </div>
</body>
</html>