{{> header}}
{{> navbar}}
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-container">

    <!-- Header -->
    <div id="portfolio">

        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container w3-center">
            <img src="/tpFinalGrupo13/public/images/logoLema.jpeg" style="width:20%;" class="w3-center w3-round">
            <!-- The form -->
            <div class="w3-section w3-bottombar w3-padding-16">
                <input class="w3-padding w3-light-grey w3-border-blue" style="width: 30%" type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Viaje.." name="busqueda">
            </div>
            <br>
        </div>
    </div>
    <div style="overflow: auto;">
        {{#mensajeModificar}}
            <div class="w3-container w3-green w3-display-topmiddle w3-round" style="margin-top: 3em; width: 33%">
                <span onclick="this.parentElement.style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <p class="w3-text w3-center">{{mensajeModificar}}</p>
            </div>
        {{/mensajeModificar}}
        {{#mensajeFinalizar}}
            <div class="w3-container w3-green w3-display-topmiddle w3-round" style="margin-top: 3em; width: 33%">
                <span onclick="this.parentElement.style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <p class="w3-text w3-center">{{mensajeFinalizar}}</p>
            </div>
        {{/mensajeFinalizar}}
        <table class="w3-table">
            <tr class="w3-black">
                <th>Chofer</th>
                <th>Vehiculo</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Cod. Viaje</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>KM Reales</th>
                <th>Combustible Real</th>
                <th>Otros gastos</th>
            </tr>
            {{#posicion}}
                <tr class="w3-border-bottom w3-light-grey">
                    <td>{{Nombre}} {{Apellido}}</td>
                    <td>{{Patente}}</td>
                    <td>{{Latitud}}</td>
                    <td>{{Longitud}}</td>
                    <td>{{pViaje}}</td>
                    <td>{{Fecha}}</td>
                    <td>{{Hora}}</td>
                    <td>{{kmReales}}KM</td>
                    <td>{{combustibleReal}}Lts</td>
                    <td>${{gastosGenerales}}</td>
                </tr>
            {{/posicion}}
        </table>
    </div>
    <br>
    <!-- End page content -->
</div>
{{> footer}}