{{> header}}
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/posicionFormStyle.css">
<script type="text/javascript" src="/tpFinalGrupo13/public/js/jquery-3.5.1.min.js"></script>
<script src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyAiq3xISXSZYgkd9GDAOdajy4NK2d3L7dY"></script>
<script type="text/javascript" src="/tpFinalGrupo13/public/js/obtenerPosicion.js"></script>
<script type="text/javascript" src="/tpFinalGrupo13/public/js/obtenerFecha.js"></script>
<div class="w3-card-4"  style="width:40%;margin: 100px auto">
    <header class="w3-container w3-teal">
        <h3 class="w3-center">Registrar Posición</h3>
    </header>
    <form action="Posicion/registrarPosicion" method="post">
        <label for="idViaje">ID Viaje</label><br>
        <input type="text" name="idViaje" placeholder="ID" value="" disabled>
        <label for="chofer">Chofer</label><br>
        <input type="text" name="chofer"  placeholder="Chofer" value="" disabled>
        <label for="fechaPosicionHoy">Fecha</label><br>
        <input class="dateInput" type="date" id="fechaPosicionHoy" name="fechaPosicionHoy" disabled><br>
        <label for="horaPosicionHoy">Hora</label><br>
        <input class="dateInput" type="text" id="horaPosicionHoy" name="horaPosicionHoy" disabled><br>

        <div id="mapa" style="width:500px; height:400px;margin: 25px auto 0 "></div>
        <h5 style="text-align: center">Click derecho en el mapa para obtener posición actual.</h5>
        <label for="latitud">Latitud</label><br>
        <input type="text" name="latitud" id="latitud" placeholder="Latitud" value="" disabled>
        <label for="longitud">Longitud</label><br>
        <input type="text" name="longitud" id="longitud" placeholder="Longitud" value="" disabled>

        <label for="kilometrosReales">Kilometros reales</label><br>
        <input  class="numberInput" type="number" id="kilometrosReales" name="kmEst" placeholder="Km.."><br>

        <label for="combustibleReal">Consumo de combustible real</label><br>
        <input class="numberInput" type="number" id="combustibleReal" name="combustibleReal" placeholder="Combustible.."><br>

        <label for="gastosGenerales">Gastos Generales</label><br>
        <input class="numberInput" type="number" id="gastosGenerales" name="gastosGenerales" placeholder="Gastos.."><br>

        <input type="submit" value="Guardar">
        <a type="button" class="button button4 w3-center" style="text-decoration: none" href="/tpFinalGrupo13/home">Volver</a>
    </form>
</div>



</body>
</html>