{{> header}}
{{> navbar}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/formStyle.css">


<div class="w3-card-4"  style="width:40%;margin: auto">
    <header class="w3-container w3-teal">
        <h1 class="w3-center">Generar Proforma</h1>
    </header>
{{#proforma}}
    <form action="generarProforma" method="post">
        <input type="hidden" name="viajeId" value="{{viajeId}}">
        <input type="hidden" name="usuarioId" value="{{usuarioId}}">
        <label>Usuario</label><br>
        <select name="usuario" id="">
            <option value="{{usuario}}">{{usuario}}</option>
        </select>

        <label>Sucursal Origen</label><br>
        <select name="sucuOrig" id="">
            <option value="{{SucursalOrigen}}">{{SucursalOrigen}}</option>
        </select>

        <label>Sucursal Destino</label><br>
        <select name="sucuDest" id="">
            <option value="{{SucursalDestino}}">{{SucursalDestino}}</option>
        </select>

        <label>Cliente</label><br>
        <select name="cliente" id="">
            <option value="{{cliente}}">{{cliente}}</option>
        </select>

        <label>Vehiculo</label><br>
        <select name="vehiculo" id="">
            <option value="{{patenteVehiculo}}">{{patenteVehiculo}}</option>
        </select>

        <label>Arrastre</label><br>
        <select name="arrastre" id="">
            <option value="{{patenteArrastre}}">{{patenteArrastre}}</option>
        </select>

        <label>Fecha Origen</label><br>
        <input class="dateInput" type="date" name="fechaOrig" value="{{fechaOrigen}}" readonly><br>

        <label>Fecha Estimada</label><br>
        <input class="dateInput" type="date" name="fechaEst" value="{{fechaEstimada}}" readonly><br>

        <label>Kilometraje Estimado</label><br>
        <input class="numberInput" type="number" name="kmEst" placeholder="Km.." value="{{KmEstimado}}" readonly><br>

        <label>Combustible Estimado</label><br>
        <input class="numberInput" type="number" name="combEst" placeholder="Combustible.." value="{{CombustibleEst}}" readonly><br>

        <label>Precio Combustible Estimado</label><br>
        <input class="numberInput" type="number" name="precioCombustibleEstimado" placeholder="Combustible.." value="{{PrecioCombustibleEstimado}}" readonly><br>

        <label>Otros Gastos</label><br>
        <input class="numberInput" type="number" name="otrosG" placeholder="Gastos.." value="{{OtrosGastos}}" readonly><br>

        <label for="fname">Precio</label><br>
        <input class="numberInput" type="number" name="precio" placeholder="Precio.." value="{{Precio}}" readonly><br>


        <button class="w3-button w3-green w3-margin-top" style="width: 100%">Generar Proforma en PDF</button>
        <a type="button" class="button button4 w3-center" style="text-decoration: none" href="/tpFinalGrupo13/viaje">Volver</a>
    </form>
</div>
{{/proforma}}


</body>
</html>