{{>header}}
<link rel="stylesheet" href="/tpFinalGrupo13/public/css/formStyle.css">
<div class="w3-card-4 w3-display-middle" style="width:25%;">
    <header class="w3-container w3-red">
        <h2 class="w3-center">Nuevo usuario</h2>
    </header>
    <form action="registrarse/validarRegistro" method="post" autocomplete="off">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="Tu nombre.." required>

        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" placeholder="Tu apellido.." required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Tu email.." required>

        <label for="contrasenia">Contraseña</label>
        <input type="password" id="contrasenia" name="contrasenia" placeholder="Tu contraseña.." required>

        <button class="w3-button w3-red w3-margin-top" style="width: 100%">Registrarse</button>
    </form>
</div>
</body>
</html>